django_filter==2.0.0
PyMySQL==0.9.3
django_rest_swagger==2.1.2
drf_yasg==1.17.0
djangorestframework_jwt==1.11.0
Django==2.1
django_filters==0.2.1
djangorestframework==3.11.2
PyJWT==1.7.1
django-cors-headers==3.2.1
