<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<modules runAllManagedModulesForAllRequests="true">
   		<remove name="WebDAVModule"/>
	</modules>
        <handlers>
            <add name="DjangoWebHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\administrator\appdata\local\programs\python\python37-32\python.exe|C:\Django\health\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
	
    </system.webServer>
</configuration>
